@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-tomato: #ff6347;
  --color-charcoal: #273f4f;
  --color-light-charcoal: #2f4d60;
  --color-isabelline: #efeeea;
  --color-small-gray: #646464;

  --font-roboto: "Roboto", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
